.custom-hover:hover {
    background-color: white !important; /* Change background color to white on hover */
    color: black !important; /* Change text color to black on hover */
    border-color: black !important; /* Optionally change border color */
}
div{
    padding: 5px;
}